<h1>Hi, <%= @user.name %>! Your policy has been registered!.</h1>

<p>We are glad to serve you. Thank you for choosing Quind to protect your data.</p>
<p>This is your recently registered policy detail:</p>
<ul>
  <li>Policy number: <%= @policy.policy_number %></li>
  <li>Insured item: <%= @policy.insured_item %></li>
  <li>Item description: <%= @policy.item_description %>
  <li>Insurance type: <%= @policy.insurance_type %></li>
  <li>Premium per month: <%= @policy.premium_per_month %></li>
  <li>Payment due date: <%= @policy.payment_due_date %></li>
  <li>Limit per year: <%= @policy.limit_per_year %></li>
</ul>
